@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Use the imported font */
:root {
  --font-base: 'Lexend', sans-serif;
  --font-second-base: 'Inter', 'sans-serif';
  --bg-color: black;
  --primary-color: white;
  --secondary-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}